nav {
    display: flex;
    background-color: rgb(101, 51, 148);
    color: white;
    height: 40px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav button {
    padding: 1px 6px;
    cursor: pointer;
}