* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(243, 243, 243);
}

h1,
h2,
h3,
h4,
p {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}

.form-section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 14px;
}

.form {
  width: 400px;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
}

.form h2 {
  font-size: 18px;
  text-align: center;
  color: #333;
}

.form input {
  margin-bottom: 10px;
  margin-top: 3px;
  padding: 4px;
  outline: none;
  border: none;
  background-color: rgb(243, 243, 243);

}

.form button {
  margin-top: 10px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  border: none;
  background: rgb(141, 113, 167);
  color: white;
}

.alert {
  color: red;
  font-size: 12px;
}

.loader {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeBtn {
  color: rgb(101, 51, 148);
  font-size: 14px;
  font-weight: 700;
}

.inactiveBtn {
  color: black;
  font-size: 14px;
}

.inactiveBtn:hover {
  color: rgb(101, 51, 148);
}

.display {
  padding: 20px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.submit-rating {
  padding: 6px 15px;
  border: none;
  background-color: rgb(141, 113, 167);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 80%;
  padding: 3px 6px;
  height: 150px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}